<form class="container" th:action="@{/login}" th:object="${user}" method="post">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="email" class="form-control" placeholder="Your email address" th:field="*{email}" required/>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="password" class="form-control" placeholder="Password" th:field="*{password}" required/>
    </div>
    <!-- Submit button -->
    <div class="text-center">
        <button data-mdb-ripple-init type="submit" class="btn">Login</button>
    </div>
</form>