<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div th:replace="~{externals/links::link}"></div>
    <title th:text="${pageTitle}"></title>
    <!-- Add any additional CSS or meta tags here -->
</head>
    <body>
        <header>
            <div th:replace="~{fragments/navbar::nav}"></div>
        </header>

        <div class="container mt-4" th:if="${#authentication.principal != null}">
            <h2>User Profile</h2>
            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h4>Email:</h4>
                    <p th:text="${#authentication.principal.email}"></p>

                    <h4>Username:</h4>
                    <p th:text="${#authentication.principal.name}"></p>
                </div>

                <div class="col-md-6">
                    <h4>Roles:</h4>
                    <ul class="list-unstyled">
                        <li th:each="role : ${#authentication.principal.getRoles()}" th:text="${role}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div th:replace="~{externals/scripts}"></div>
    </body>
</html>
