<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <div th:replace="~{externals/links::link}"></div>
    <title th:text="${pageTitle}"></title>
    <!-- Add any additional CSS or meta tags here -->
</head>
    <body>
        <header>
            <div th:replace="~{fragments/navbar::nav}"></div>
        </header>

        <div th:if="${#authentication.principal != null}">
            <h4>E-Mail : <span th:text="${#authentication.principal.email}"></span></h4>
            <h4>Username : <span th:text="${#authentication.principal.name}"></span></h4>
            <h4>Roles : <span th:text="${#authentication.principal.getRoles()}"></span></h4>
        </div>
        <div th:replace="~{externals/scripts}"></div>
    </body>
</html>
